<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="first.css">
    <title>first</title>
</head>

<body>
    <div id="img">
        <img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMHdoaXRlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
            style="width: 100%;">
    </div>
    <div class="xyz">
        <div id="open" style="text-transform: uppercase; font-size: 200%;padding-top: 50px;"><b><u>
                    Welcome to my fitness tracker</u></b>
        </div>
        <div id="quote" style="color: navy; font-size: 175%;">
            <span style="text-transform: uppercase;"><b>You don't have to eat<br> less.<br> You just have to eat<br>
                    right.</b></span>
        </div>
        <hr style="width: 50%;">
        <div id="log">
            <span style="font-size: 65%;"> Login/signup For personalized info.</span><br>
            <button> <a
                    href="file:///C:/Users/Akash%20Kumar/OneDrive/Documents/fitness%20tracker/login%203.html">Login/signup</a>
            </button>
        </div>
        <div id="p">
            <p>Everyone who ever lost weight or “got in shape” started on a single day. That day turned into a second
                day, a week, a month, and eventually a year. It didn’t happen overnight and it wasn’t always (or maybe
                ever) easy. But persistence pays off when it comes to health. And, starting with a single step today—a
                short walk, some fruit for dessert, or an extra glass of water (not soda)—can pay off and bring you
                closer to the healthy and fit body you’ve always hoped for.</p>
        </div>
    </div>
</body>

</html>