<!DOCTYPE html>
<html lang="en">

<head>

    <title>signup</title>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <div id="img">
        <img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMHdoaXRlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
            style="width: 100%;">
    </div>
    <div class="login">
        <p> <span id=" welcome" style="font-size: 200%;"><u><B>WELCOME TO MY FITNESS TRACKER</u> </B> </span></p><br>
        <p> <label for="Username">Username : </label>
            <input type="Username" name="Username" placeholder="Username"><br>
            <label for="email">email : </label>
            <input type="email" name="email" placeholder="xyz@gmail.com"><br>
            <label for "password"> password : </label>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit"> Signup</button><br>

            <hr style="width:170px">

        </p>
    </div>
    <hr style="width:70px">
</body>

</html>